@use "variables";


:root {
    color-scheme: only light;
}

body {
    width: 100%;
    height: 100vh;
    min-height: 573px;
    font-family: variables.$font-family-primary, sans-serif;
    background-color: #f5f5fa;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 1105px;
    display: grid;
    grid-template-columns: 722px auto;
}


